/*
	@File:Sylcart Styles

	* This file contains the styling for the actual template, this
	is the file you need to edit to change the look of the
	template.

	This files contents are outlined below>>>>>

	*******************************************
	*******************************************

	==== INDEX PAGE CSS
	
	** - Default CSS
	** - 
*/
@media (min-width: 320px) and (max-width: 575px) {
  .menu-shrink {
    display: none;
  }
  .inner_banner_area {
    height: 300px;
  }
  .top_bar {
    display: none;
  }
  header.header_area {
    display: none;
  }
  .top_mb_bar {
    display: block;
  }
  .mb_header_area {
    display: block;
  }
  .mb_header_area .modal .modal-content {
    width: 310px;
  }
  .mb_header_area .modal .modal-content .modal-body #myTab {
    padding: 7px 20px;
  }
  .mb_header_area .modal .modal-content .modal-body #myTab li.nav-item {
    margin-right: 16px;
  }
  .shopping_mall_area {
    text-align: center;
  }
  .middle_content_area .hero_area_banner .banner_img .banner_item_ctn img {
    height: 250px;
  }
  .middle_content_area .hero_area_banner .banner_img .owl-dots {
    left: 32%;
  }
  .fotter_ctn {
    margin-bottom: 20px;
  }
  .newsletter_area .newsletter_ctn h4 {
    font-size: 20px;
  }
  .newsletter_area .newsletter_ctn .btn {
    top: 38px;
  }
  .single_shop_area .header_left .left_menu {
    position: relative;
    width: 100%;
  }
  .single_shop_area .header_left .left_menu ul li .sub_menu {
    position: relative;
    right: 0px;
    display: none;
    width: 100%;
  }
  .single_shop_area .header_left .left_menu ul li:hover .sub_menu {
    display: block;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .single_shop_area .store_mall_area ul li.store_top_ctn {
    margin: 0 52px;
  }
  .single_shop_area .store_mall_area ul li.store_ctn {
    margin: 0 52px;
  }
  .product_diplay ul li {
    width: 54px;
  }
  .product_details_area .product_details .product_details_btn ul li a.btn span {
    display: none;
  }
  .product_details_area .product_details .product_details_btn ul li a.btn i {
    margin-right: 0px;
  }
  .product_description .pro_description_ctn .singel_product li.nav-item a.nav-link {
    font-size: 13px;
  }
  .wishlist_area .wish_right {
    top: 0%;
  }
  .cart_page .cart_content .cart_detail .cart_name {
    display: block;
  }
  .cart_page .cart_content .cart_detail .cart_name .cart_ctn .size {
    font-size: 11px;
  }
  .cart_page .cart_content .cart_detail .cart_name .cart_ctn .color_virson {
    font-size: 11px;
  }
  .cart_page .cart_content .cart_detail .cart_name .cart_ctn .c_titel a {
    font-size: 11px;
  }
  .cart_page .cart_content .cart_detail .cart_quantity .minus {
    left: 5%;
  }
  .cart_page .cart_content .cart_detail .cart_quantity .plus {
    right: 21%;
  }
  .cart_page .cart_btn .clear_btn {
    font-size: 12px;
    padding: 11px 9px;
    letter-spacing: 0px;
  }
  .cart_page .cart_btn .shopping .shopping_btn {
    font-size: 12px;
    padding: 11px 9px;
    letter-spacing: 0px;
  }
  .cart_page .cart_content .cart_detail .cart_quantity input[type="number"] {
    width: 51%;
  }
  .right_usear_board {
    display: none;
  }
  .user_middle_content_area .main_cont .input_box input {
    width: 200px;
  }
  .user_middle_content_area .main_cont .input_box select {
    width: 216px;
  }
  .user_middle_content_area .main_cont .input_checkbox_box .right_checkbox label {
    width: 30px;
  }
  .user_middle_content_area .main_cont .input_box input[type="checkbox"] {
    width: 30px;
  }
  .checkout_page .check_out_area .checkout_tab_bar ul li a {
    font-size: 14px;
    padding: 0 10px 0 21px;
    margin-bottom: 10px;
  }
  .checkout_page .check_out_area #pills-tabContent #pills_methods .shipping_methods_ctn .form label {
    font-size: 14px;
  }
  .login_registration_area #formHolder .brand {
    display: none;
  }
  .login_registration_area {
    padding: 20px 0;
  }
  .login_registration_area #formHolder .form {
    height: 540px;
  }
  .login_registration_area #formHolder .form .CTA input {
    padding: 5px 14px;
    margin-right: 9px;
  }
  .login_registration_area #formHolder .form form {
    padding: 0 30px;
  }
  .mb_header_area .modal {
    left: -6px;
  }
  .top_mb_bar .header_rt_box ul li a .menu_item img {
    width: 24px;
  }
  .top_mb_bar .header_rt_box ul li {
    margin-right: 10px;
  }
  .service_ctn::after {
    display: none;
  }
  .service_area .service_inner_ctn .service_ctn {
    margin-bottom: 10px;
  }
  .offer_area .offer_box {
    margin-bottom: 20px;
  }
  .offer_area .middlebanner {
    padding: 0 14px;
  }
  .offer_area .firstbanner {
    padding-right: 12px;
  }
  .offer_area .secondbanner {
    padding-left: 16px;
  }
  .form_check {
    margin-bottom: 0px;
    padding-left: 10px;
  }
  .logo {
    text-align: center;
    margin-bottom: 10px;
  }
  .login_registration_area #formHolder .form .form-peice {
    min-height: 500px;
    padding: 0px 0 0px;
  }
  .related_pro_area .related_pro_slider .slick-next.slick-arrow i {
    right: 15px;
  }
  .single_store_middle_ctn .banner_area .banner_img .banner_item_ctn img {
    height: 250px;
  }
  .related_pro_area .slick-prev {
    left: -4px;
    z-index: 999;
  }
  .related_pro_area .slick-next {
    right: -15px;
  }
  .slick-next {
    right: -15px;
  }
  .single_shop_area .filter_area .filter_titel h4 {
    width: 62%;
    left: 14px;
  }
  .single_shop_area .filter_area .store_filter_box .box_ctn .brand_item .form-group label {
    font-size: 13px;
  }
  .sort_by_ctn {
    top: 8px;
    left: -49px;
  }
  .section_titel h4 {
    font-size: 34px;
  }
  .inner_banner_area .banner_content .inner_titel {
    font-size: 34px;
  }
  .letest_listing_area .latest_listing_menu {
    margin-bottom: 20px;
  }
  .letest_listing_area .latest_listing_menu button {
    font-size: 14px;
    margin-bottom: 10px;
    width: 47%;
    margin-right: 6px;
  }
  .hotel_list_area .filter_area .hotel_filter_box .box_ctn .search_for p a.btn {
    width: 100%;
  }
  .house_list_area .filter_area .hospital_filter_box .box_ctn .search_for p a.btn {
    width: 100%;
  }
  .house_list_area .filter_area {
    margin-bottom: 30px;
  }
  .hotel_list_area .filter_area {
    margin-bottom: 30px;
  }
  .hotel_list_area .filter_area .hotel_filter_box .box_ctn .search_for p a.btn {
    width: 100%;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating ul {
    margin-right: 80px;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating ul li {
    margin-right: 0;
    display: inline-block;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating p {
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .location_map {
    margin-bottom: 10px;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .location_map ul li {
    display: inline-block;
  }
  .adli_mb_20 {
    margin-bottom: 20px;
  }
  .add_listing_area .notification_email input {
    width: 100%;
    margin: 0;
  }
  .inner_banner_area .house_banner_content .houser_inner_left .pro_info .titel h1 {
    font-size: 22px;
  }
  .inner_banner_area .house_banner_content .houser_inner_left .pro_info .titel .price span {
    font-size: 24px;
  }
  .inner_banner_area .house_banner_content {
    top: 31%;
  }
  .inner_banner_area .house_banner_content .house_inner_right {
    margin-top: 0px;
    text-align: left;
  }
  .inner_banner_area .house_banner_content .house_inner_right ul li a.btn {
    font-size: 14px;
    padding: 4px 18px;
  }
  .slick-prev {
    left: 27px;
  }
  .related_listing_area .related_pro_slider .slick-prev.slick-arrow i {
    font-size: 28px;
  }
  .related_listing_area .related_pro_slider .slick-next.slick-arrow i {
    font-size: 28px;
    right: 2px;
  }
  .inner_banner_area .hotel_banner_content .houser_inner_left .pro_info .titel h1 {
    font-size: 18px;
  }
  .inner_banner_area .house_banner_content .house_inner_right .reference p {
    margin-bottom: 8px;
  }
  .booking_process_area #checkout-progress .progress-bar .step .step-label {
    white-space: break-spaces;
    margin-left: 40px;
  }
  .booking_process_area #checkout-progress .progress-bar .step::after {
    right: 13%;
    top: 9%;
  }
  .booking_process_area #boking_step_1 .process__stepint p {
    font-size: 13px;
  }
  .booking_process_area #boking_step_1 .process_start .condition {
    margin-top: 20px;
  }
  .booking_process_area #boking_step_1 .process_start #sp_request textarea {
    width: 100%;
  }
  .booking_process_area #boking_step_1 .process_start #arrival_info select {
    width: 100%;
  }
  .booking_process_area .booking_details_right {
    margin-top: 40px;
  }
  .booking_process_area #checkout-progress .progress-bar .step .fa-check {
    right: 33%;
    top: 9%;
  }
  .booking_process_area #boking_step_2 .payment_confirmation .con_agre {
    margin-top: 15px;
  }
  .booking_process_area #boking_step_3 .booking_final input {
    width: 100%;
  }
  .property_description_area .property_description_left .property_description .facilitics_list ul li {
    width: 70%;
  }
  .sm_section_padding_3 {
    padding: 40px 0 60px;
  }
  .sm_section_padding {
    padding: 60px 0;
  }
  .property_description_area .property_detail_info .details ul li .details_right {
    width: 70%;
  }
  .inner_banner_area .search_box .form-group a.loc_btn {
    position: absolute;
    top: 102%;
    right: 0%;
    border: 1px solid #06acde;
    height: 100%;
    color: #fff;
    padding: 14px;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    width: 100%;
    left: 0;
    margin: auto;
    text-align: left;
    border-radius: 5px;
  }
  .search_box .form-group a.search_btn {
    position: absolute;
    top: 208%;
    right: 0;
    background: #06acde;
    color: #fff;
    padding: 6px 28px;
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    left: 0;
    margin: auto;
  }
  .inner_banner_area .banner_content {
    position: absolute;
    top: 24%;
    left: 0%;
    right: 0;
    z-index: 1;
  }
  .inner_banner_area .search_box {
    margin-top: 40px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .menu-shrink {
    display: none;
  }
  .inner_banner_area {
    height: 300px;
  }
  .top_bar {
    display: none;
  }
  header.header_area {
    display: none;
  }
  .top_mb_bar {
    display: block;
  }
  .mb_header_area {
    display: block;
  }
  .mb_header_area .modal {
    left: -74px;
  }
  .shopping_mall_area .all_shopping_mall ul li {
    width: 259px;
    margin-right: 4px;
  }
  .mb_header_area .modal .modal-content .modal-body #myTabContent .top_mid_menu ul li .sub_menu {
    width: 348px;
  }
  .middle_content_area .hero_area_banner .banner_img .owl-dots {
    left: 40%;
  }
  .section_titel h4 {
    font-size: 24px;
  }
  .single_shop_area .header_left .left_menu {
    padding: 20px 12px;
  }
  .single_store_middle_ctn .single_store_side_banner a::after {
    width: 77%;
  }
  .single_shop_area .store_mall_area ul li.store_top_ctn {
    width: 153px;
  }
  .single_shop_area .store_mall_area ul li.store_ctn {
    width: 153px;
  }
  .single_shop_area .store_mall_area ul li.store_ctn .card .shop_mall_img .hover_ctn {
    right: 8%;
  }
  .product_diplay ul li {
    width: 90px;
  }
  .product_details_area .product_details .product_details_btn ul li a.btn {
    font-size: 14px;
  }
  .product_description .pro_description_ctn .singel_product li.nav-item a.nav-link {
    font-size: 14px;
    padding: 6px 9px;
  }
  .related_pro_area .related_pro_slider .product_item .item_ctn h5 {
    font-size: 13px;
  }
  .wishlist_area .wish_right {
    top: 0%;
  }
  .cart_page .cart_content .cart_detail .cart_quantity .minus {
    left: 15%;
  }
  .cart_page .cart_content .cart_detail .cart_quantity .plus {
    right: 28%;
  }
  .cart_page .cart_btn .clear_btn {
    font-size: 16px;
    padding: 11px 12px;
  }
  .cart_page .cart_btn .shopping .shopping_btn {
    font-size: 16px;
    padding: 11px 12px;
  }
  .right_usear_board {
    display: none;
  }
  .login_registration_area #formHolder .brand .heading h2 {
    font-size: 55px;
  }
  .checkout_page .check_out_area .checkout_tab_bar ul li a {
    font-size: 12px;
    padding: 0 10px 0 23px;
  }
  .login_registration_area #formHolder .form .CTA input {
    padding: 5px 14px;
    margin-right: 6px;
  }
  .login_registration_area #formHolder .form form {
    padding: 0 11px;
  }
  .service_area .service_inner_ctn .service_ctn.last_ctn::after {
    display: block;
  }
  .offer_area .middle_offer_box {
    margin-bottom: 3px;
  }
  .offer_area .firstbanner {
    padding-right: 3px;
  }
  .offer_area .middlebanner {
    padding: 0 4px;
  }
  .offer_area .secondbanner {
    padding-left: 4px;
  }
  .sort_by_ctn {
    top: 20px;
  }
  .house_list_area .filter_area {
    margin-bottom: 30px;
  }
  .house_list_area .filter_area .hospital_filter_box .box_ctn .search_for p a.btn {
    width: 100%;
  }
  .house_list_area .house_list .listing_ctn ul li {
    margin-right: 0px;
  }
  .house_list_area .house_list .listing_ctn ul li:last-child {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(3) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(6) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(9) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(12) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(15) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(18) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(21) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(24) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(26) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(29) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li a .listing_item {
    width: 510px;
  }
  .house_list_area .house_list .listing_ctn ul li a .listing_item .listing_img img {
    height: 220px;
  }
  .hotel_list_area .filter_area {
    margin-bottom: 30px;
  }
  .hotel_list_area .filter_area .hotel_filter_box .box_ctn .search_for p a.btn {
    width: 100%;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul {
    display: inline;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li {
    margin-right: 0px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:last-child {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(3) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(6) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(9) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(12) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(15) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(18) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(21) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(24) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(26) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(29) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li .listing_item {
    width: 510px;
    margin-bottom: 20px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li .listing_item .listing_img img {
    height: 220px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating ul {
    margin-right: 80px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating ul li {
    margin-right: 0px;
    display: inline-block;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating ul li a i {
    color: #F7BA62;
    font-size: 12px;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating ul {
    margin-right: 80px;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating ul li {
    margin-right: 0;
    display: inline-block;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating p {
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .location_map {
    margin-bottom: 10px;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .location_map ul li {
    display: inline-block;
  }
  .letest_listing_area .latest_listing_menu {
    margin-bottom: 20px;
  }
  .letest_listing_area .latest_listing_menu button {
    font-size: 14px;
    margin-bottom: 10px;
    width: 31%;
    margin-right: 6px;
  }
  .add_listing_area .submit_listing .submit_ctn .card .card-body .business_hour_input .all_time span {
    font-size: 14px;
  }
  .add_listing_area .notification_email input {
    width: 100%;
    margin: 0;
  }
  .related_listing_area .related_pro_slider .listing_item .listing_txt ul li i {
    margin-right: 0px;
    font-size: 14px;
  }
  .related_listing_area .related_pro_slider .listing_item .listing_txt ul li {
    font-size: 13px;
  }
  .slick-prev {
    left: 14px;
  }
  .slick-next {
    right: 14px;
  }
  .inner_banner_area .house_banner_content {
    top: 44%;
    width: 88%;
  }
  .inner_banner_area .house_banner_content .house_inner_right ul li a.btn span {
    display: none;
  }
  .inner_banner_area .house_banner_content .house_inner_right {
    margin-top: -83px;
  }
  .inner_banner_area .hotel_banner_content .houser_inner_left .pro_info .titel h1 {
    font-size: 20px;
  }
  .inner_banner_area .hotel_banner_content {
    top: 60%;
    width: 88%;
  }
  .booking_process_area #checkout-progress .progress-bar .step::after {
    right: 29%;
  }
  .booking_process_area #checkout-progress .progress-bar .step .step-label {
    margin-left: 72px;
  }
  .booking_process_area #boking_step_1 .process_start .condition {
    margin-top: 10px;
  }
  .booking_process_area #boking_step_1 .process_start #sp_request textarea {
    width: 100%;
  }
  .booking_process_area .booking_details_right {
    margin-top: 40px;
  }
  .booking_process_area .booking_details_right .booking_info .info_ctn ul .info_be {
    margin-left: 20px;
  }
  .booking_process_area #boking_step_1 .process_start #arrival_info select {
    width: 100%;
  }
  .booking_process_area #boking_step_2 .payment_confirmation .payment .titel p {
    margin-bottom: 10px;
  }
  .booking_process_area #boking_step_3 .booking_final input {
    width: 60%;
  }
  .booking_process_area #checkout-progress .progress-bar .step .fa-check {
    right: 40%;
  }
  .property_description_area .property_detail_info .details ul li .details_right {
    width: 70%;
  }
  .inner_banner_area .search_box .form-group a.loc_btn {
    position: absolute;
    top: 102%;
    right: 0%;
    border: 1px solid #06acde;
    height: 100%;
    color: #fff;
    padding: 14px;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    width: 100%;
    left: 0;
    margin: auto;
    text-align: left;
    border-radius: 5px;
  }
  .search_box .form-group a.search_btn {
    position: absolute;
    top: 208%;
    right: 0;
    background: #06acde;
    color: #fff;
    padding: 6px 28px;
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    left: 0;
    margin: auto;
  }
  .inner_banner_area .banner_content {
    position: absolute;
    top: 24%;
    left: 0%;
    right: 0;
    z-index: 1;
  }
  .inner_banner_area .search_box {
    margin-top: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-shrink {
    display: none;
  }
  .inner_banner_area {
    height: 300px;
  }
  .top_bar {
    display: none;
  }
  header.header_area {
    display: none;
  }
  .top_mb_bar {
    display: block;
  }
  .mb_header_area {
    display: block;
  }
  .mb_header_area .modal .modal-content .modal-body #myTabContent .top_mid_menu ul li .sub_menu {
    width: 348px;
  }
  .shopping_mall_area .all_shopping_mall ul li {
    width: 230px;
  }
  .footer_area .fotter_ctn .contact_link ul li a i {
    font-size: 13px;
    margin-right: 0px;
  }
  .footer_area .fotter_ctn .footer_links ul li a {
    font-size: 14px;
  }
  .newsletter_area .newsletter_ctn h4 {
    font-size: 22px;
  }
  .newsletter_area .newsletter_ctn .btn {
    top: 42px;
  }
  .footer_area .fotter_ctn .social_media ul {
    display: inline;
  }
  .footer_area .fotter_ctn .social_media ul li {
    margin-bottom: 20px;
  }
  .middle_content_area .hero_area_banner .banner_img .owl-dots {
    left: 43%;
  }
  .single_store_middle_ctn .single_store_details .location .shopping_cener_name h6 {
    font-size: 15px;
  }
  .single_store_middle_ctn .banner_area .banner_img .banner_item_ctn img {
    height: 280px;
  }
  .single_shop_area .store_mall_area ul li.store_top_ctn {
    width: 154px;
  }
  .single_shop_area .store_mall_area ul li.store_ctn {
    width: 154px;
  }
  .product_details_area .product_details .product_details_btn ul li {
    margin-right: 3px;
  }
  .product_details_area .product_details .product_details_btn ul li a.btn {
    font-size: 11px;
    padding: 7px 5px;
  }
  .product_details_area .product_details .product_details_btn ul li a.btn i {
    font-size: 13px;
    margin-right: 2px;
  }
  .product_details_area .product_details .product_details_btn ul li a.btn {
    font-size: 11px;
  }
  .related_pro_area .related_pro_slider .product_item .item_ctn h5 {
    font-size: 13px;
  }
  .login_registration_area #formHolder .form .CTA input {
    font-size: 12px;
    padding: 5px 26px;
    margin-right: 8px;
  }
  .offer_area .middle_offer_box {
    margin-bottom: 9px;
  }
  .top_stores_ctn .slick-slide {
    margin: 0 4px;
  }
  .letest_listing_area .latest_listing_menu {
    margin-bottom: 20px;
  }
  .letest_listing_area .latest_listing_menu button {
    font-size: 16px;
    margin-bottom: 10px;
    width: 23%;
    margin-right: 6px;
  }
  .house_list_area .filter_area .hospital_filter_box .box_ctn .search_for p a.btn {
    width: 100%;
  }
  .house_list_area .house_list .listing_ctn ul li {
    margin-right: 0px;
  }
  .house_list_area .house_list .listing_ctn ul li:last-child {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(3) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(6) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(9) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(12) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(15) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(18) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(21) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(24) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(26) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(29) {
    margin-right: 0;
  }
  .house_list_area .house_list .listing_ctn ul li a .listing_item {
    width: 328px;
  }
  .house_list_area .house_list .listing_ctn ul li a .listing_item .listing_img img {
    height: 200px;
  }
  .hotel_list_area .filter_area .hotel_filter_box .box_ctn .search_for p a.btn {
    width: 100%;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul {
    display: inline;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li {
    margin-right: 0px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:last-child {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(3) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(6) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(9) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(12) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(15) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(18) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(21) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(24) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(26) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(29) {
    margin-right: 0;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li .listing_item {
    width: 320px;
    margin-bottom: 20px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li .listing_item .listing_img img {
    height: 200px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating ul {
    margin-right: 80px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating ul li {
    margin-right: 0px;
    display: inline-block;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating ul li a i {
    color: #F7BA62;
    font-size: 12px;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating ul {
    margin-right: 80px;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating ul li {
    margin-right: 0;
    display: inline-block;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating p {
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .location_map {
    margin-bottom: 10px;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .location_map ul li {
    display: inline-block;
  }
  .adli_mb_20 {
    margin-bottom: 20px;
  }
  .inner_banner_area .house_banner_content {
    top: 50%;
    width: 87%;
  }
  .inner_banner_area .house_banner_content .house_inner_right ul li a.btn span {
    display: none;
  }
  .inner_banner_area .house_banner_content .house_inner_right {
    margin-top: 73px;
  }
  .inner_banner_area .house_banner_content .house_inner_right ul li a.btn i {
    padding-right: 0px;
  }
  .slick-next {
    right: 12px;
  }
  .slick-prev {
    left: 12px;
  }
  .booking_process_area #checkout-progress .progress-bar .step::after {
    right: 27%;
  }
  .booking_process_area #checkout-progress .progress-bar .step .step-label {
    margin-left: 53px;
  }
  .booking_process_area #checkout-progress .progress-bar .step .fa-check {
    right: 39%;
  }
  .booking_process_area #boking_step_3 .booking_final input {
    width: 60%;
  }
  .booking_process_area #boking_step_1 .process_start #sp_request textarea {
    width: 100%;
  }
  .booking_process_area #boking_step_1 .process_start #arrival_info select {
    width: 100%;
  }
  .inner_banner_area .house_banner_content {
    top: 41%;
  }
  .search_box {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0px auto;
    margin-top: 0px;
    width: 80%;
    z-index: 1;
  }
  .inner_banner_area .search_box .form-group a.loc_btn {
    position: absolute;
    top: 0;
    right: 12%;
    border-left: 1px solid #06acde;
    height: 100%;
    color: #fff;
    padding: 10px 8px;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    width: 24%;
  }
  .inner_banner_area .hotel_banner_content .house_inner_right {
    margin-top: 26px;
  }
  .inner_banner_area .hotel_banner_content {
    top: 58%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .menu-shrink {
    display: none;
  }
  header.sm_header_area .top_mid_menu ul li {
    margin: 0 16px;
  }
  .top_bar .header_rt_box .icons_box .menu_item {
    margin-right: 12px;
  }
  header.header_area .top_mid_menu ul li {
    margin: 0 3px;
  }
  header.header_area .top_mid_menu ul li a {
    font-size: 13px;
  }
  .shopping_mall_area .all_shopping_mall ul li {
    width: 230px;
  }
  .footer_area .fotter_ctn .social_media ul li {
    margin: 0 6px;
  }
  .product_details_area .product_details .product_details_btn ul li a.btn {
    font-size: 13px;
    padding: 7px 9px;
  }
  .product_details_area .product_details .product_details_btn ul li a.btn i {
    font-size: 15px;
    margin-right: 9px;
  }
  .checkout_page .check_out_area .checkout_tab_bar ul li a {
    font-size: 15px;
    padding: 0 10px 0 26px;
  }
  .service_area .service_inner_ctn .service_ctn .service_icon {
    margin-right: 8px;
  }
  .top_stores_ctn .slick-slide {
    margin: 0 5px;
  }
  .letest_listing_area .latest_listing_menu {
    margin-bottom: 20px;
  }
  .letest_listing_area .latest_listing_menu button {
    font-size: 16px;
    margin-bottom: 10px;
    width: 18%;
    margin-right: 6px;
  }
  .house_list_area .filter_area .hospital_filter_box .box_ctn .search_for p a.btn {
    width: 100%;
  }
  .house_list_area .house_list .listing_ctn ul li {
    margin-right: 20px;
  }
  .house_list_area .house_list .listing_ctn ul li:last-child {
    margin-right: 20px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(2) {
    margin-right: 0px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(3) {
    margin-right: 20px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(4) {
    margin-right: 0px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(6) {
    margin-right: 0px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(8) {
    margin-right: 0px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(9) {
    margin-right: 20px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(10) {
    margin-right: 0px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(12) {
    margin-right: 0px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(14) {
    margin-right: 0px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(15) {
    margin-right: 20px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(16) {
    margin-right: 0px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(18) {
    margin-right: 0px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(20) {
    margin-right: 0px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(21) {
    margin-right: 20px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(22) {
    margin-right: 0px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(24) {
    margin-right: 0px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(26) {
    margin-right: 0px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(28) {
    margin-right: 0px;
  }
  .house_list_area .house_list .listing_ctn ul li:nth-child(29) {
    margin-right: 20px;
  }
  .house_list_area .house_list .listing_ctn ul li a .listing_item {
    width: 290px;
  }
  .house_list_area .house_list .listing_ctn ul li a .listing_item .listing_img img {
    height: 200px;
  }
  .hotel_list_area .filter_area .hotel_filter_box .box_ctn .search_for p a.btn {
    width: 100%;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li {
    margin-right: 20px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:last-child {
    margin-right: 20px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(2) {
    margin-right: 0px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(3) {
    margin-right: 20px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(4) {
    margin-right: 0px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(6) {
    margin-right: 0px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(8) {
    margin-right: 0px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(9) {
    margin-right: 20px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(10) {
    margin-right: 0px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(12) {
    margin-right: 0px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(14) {
    margin-right: 0px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(15) {
    margin-right: 20px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(16) {
    margin-right: 0px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(18) {
    margin-right: 0px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(20) {
    margin-right: 0px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(21) {
    margin-right: 20px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(22) {
    margin-right: 0px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(24) {
    margin-right: 0px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(26) {
    margin-right: 0px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(28) {
    margin-right: 0px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li:nth-child(29) {
    margin-right: 20px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li .listing_item {
    width: 290px;
  }
  .hotel_list_area .hotel_list .hotel_listing_ctn ul li .listing_item .listing_img img {
    height: 200px;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating ul {
    margin-right: 80px;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating ul li {
    margin-right: 0;
    display: inline-block;
  }
  .hotel_list_area .restaurent_list .hotel_listing_ctn ul li .listing_item .listing_txt .rating p {
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
  }
  .add_listing_area .submit_listing .submit_ctn .card .card-body .business_hour_input .all_time span {
    font-size: 13px;
    line-height: 2.7;
  }
  .slick-next {
    right: 18px;
  }
  .slick-prev {
    left: 15px;
  }
  .inner_banner_area .house_banner_content .house_inner_right ul li a.btn {
    padding: 8px 21px;
  }
  .inner_banner_area .house_banner_content {
    width: 94%;
  }
  .booking_process_area #checkout-progress .progress-bar .step .step-label {
    margin-left: 65px;
  }
  .booking_process_area #checkout-progress .progress-bar .step::after {
    right: 31%;
  }
  .booking_process_area #boking_step_1 .process_start #sp_request textarea {
    width: 100%;
  }
  .booking_process_area #boking_step_1 .process_start #arrival_info select {
    width: 60%;
  }
}

@media (min-width: 1200px) and (max-width: 1338px) {
  .smart_city_area .hero_btn ul li {
    margin-right: 4px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .smart_city_area .hero_btn ul li {
    margin-right: 6px;
    width: 15%;
  }
  .smart_city_area .hero_btn ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .video-section .video-shapes img.shape-1 {
    display: none;
  }
  .video-section .video-shapes img.shape-2 {
    display: none;
  }
  .video-section .video-area {
    margin: auto auto 0px;
  }
  section.newsletter-area .newsletter-text h3 {
    font-size: 34px;
  }
  section.newsletter-area .newsletter-from button {
    width: 40%;
  }
  .sm_footer_area .fotter_ctn .footer_news .single-news .news-img {
    width: 28%;
  }
  .sm_footer_area .fotter_ctn .footer_news .single-news .news-text .date {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-shrink {
    display: none;
  }
  .mean-container .mean-bar {
    background: transparent;
    float: left;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 5%;
    right: 2%;
  }
  .sm_header_area .logo {
    text-align: left;
  }
  header.sm_header_area {
    top: 0;
  }
  .top_bar_right {
    position: absolute;
    right: -83%;
    top: -59px;
  }
  .mean-container .mean-nav {
    background: #06acde none repeat scroll 0 0;
    float: left;
    margin-top: 15px;
    width: 100%;
    margin-left: 17px;
  }
  .mean-container a.meanmenu-reveal {
    border: 1px solid #06acde;
    background: #06acde;
    color: #fff;
  }
  .mean-container a.meanmenu-reveal span {
    background: #fff none repeat scroll 0 0;
  }
  .smart_city_area {
    height: 400px;
  }
  .smart_city_area h1 {
    position: absolute;
    font-size: 40px;
    line-height: 1.5;
    text-transform: uppercase;
    top: 22%;
    left: 0;
    right: 0;
    margin: auto;
    color: #ffffff;
    z-index: 1;
    letter-spacing: 1.3px;
    text-align: center;
  }
  .smart_city_area .search_box {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    z-index: 1;
  }
  .smart_city_area .hero_btn {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 0 15px;
  }
  .smart_city_area .hero_btn ul li {
    margin-right: 6px;
    width: 15%;
    margin-bottom: 10px;
  }
  .smart_city_area .hero_btn ul li a {
    padding: 15px 4px;
  }
  .smart_city_area .hero_btn ul li a i {
    font-size: 30px;
  }
  .smart_city_area .hero_btn ul li a span {
    font-size: 14px;
  }
  .smart_city_area .hero_btn {
    text-align: center;
  }
  .sm_find_area .firstbanner {
    padding-right: 15px;
  }
  .sm_find_area .secondbanner {
    padding-left: 15px;
  }
  .sm_find_area .offer_box {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  .sm_find_area .row {
    margin-bottom: 0 !important;
  }
  .choose-area .shape {
    display: none;
  }
  .sm_find_area {
    position: relative;
    overflow: hidden;
    background-color: #e7e7e7;
    z-index: 3;
    padding-bottom: 40px;
  }
  .sm_find_area .location_img_2 img {
    height: 168px;
  }
  .choose-area .single-choose {
    margin-bottom: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .choose-area {
    padding-bottom: 30px;
  }
  .video-section .video-area {
    width: 100%;
    height: 300px;
    margin: auto auto 0px;
  }
  .video-section .video-shapes img.shape-1 {
    display: none;
  }
  .video-section .video-shapes img.shape-2 {
    display: none;
  }
  .video-section .video-shapes img.shape-3 {
    width: 22%;
  }
  .video-section .video-shapes img.shape-4 {
    display: none;
  }
  .video-section .video-area .right-title {
    top: 65%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .video-section .video-area .left-title {
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .section_titel h4 {
    font-size: 34px;
  }
  .service-section .service-img {
    width: 100%;
    margin-left: 0;
    margin-bottom: 40px;
  }
  .service-section .single-service {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
  }
  .service-section .single-service p {
    font-size: 16px;
    max-width: 250px;
    line-height: 28px;
    margin: auto;
  }
  section.newsletter-area .newsletter-text h3 {
    font-size: 28px;
    color: #ffffff;
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
    top: 15px;
    position: relative;
  }
  section.newsletter-area .newsletter-from button {
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 5px;
  }
  section.newsletter-area .newsletter-from input {
    width: 100%;
    height: 45px;
    border-radius: 30px;
    border: none;
    padding: 10px 15px;
  }
  section.newsletter-area .newsletter-from {
    position: relative;
    top: 0;
  }
  .sm_footer_area .fotter_ctn {
    margin-bottom: 40px;
  }
  .news-img img {
    width: 74%;
  }
  .sm_footer_area {
    padding-bottom: 40px;
  }
  .sm_footer_area .fotter_ctn .footer_news .single-news .news-img {
    float: left;
    margin-right: 0;
  }
  .sm_footer_area .fotter_ctn .footer_news .single-news .news-text .date {
    display: block;
  }
  .sm_footer_area .fotter_ctn .footer_news .single-news {
    position: relative;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .menu-shrink {
    display: none;
  }
  .mean-container .mean-bar {
    background: transparent;
    float: left;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 13%;
    right: 2%;
  }
  .sm_header_area .logo {
    text-align: left;
  }
  header.sm_header_area {
    top: 0;
  }
  .top_bar_right {
    position: absolute;
    right: -60%;
    top: -55px;
  }
  .mean-container .mean-nav {
    background: #06acde none repeat scroll 0 0;
    float: left;
    margin-top: 15px;
    width: 100%;
    margin-left: 8px;
  }
  .mean-container a.meanmenu-reveal {
    border: 1px solid #06acde;
    background: #06acde;
    color: #fff;
    position: absolute;
    right: 10% !important;
  }
  .mean-container a.meanmenu-reveal span {
    background: #fff none repeat scroll 0 0;
  }
  .smart_city_area {
    height: 700px;
  }
  .smart_city_area h1 {
    position: absolute;
    font-size: 30px;
    line-height: 1.5;
    text-transform: uppercase;
    top: 16%;
    left: 0;
    right: 0;
    margin: auto;
    color: #ffffff;
    z-index: 1;
    letter-spacing: 1.3px;
    text-align: center;
  }
  .smart_city_area .search_box {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    z-index: 1;
    padding: 30px;
  }
  .smart_city_area .search_box .form-group select {
    position: relative;
    right: 0;
    top: 0;
    border: 2px solid #06acde !important;
    height: 100%;
    color: #fff;
    background: transparent;
    padding: 10px 28px;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .smart_city_area .search_box .form-group a.loc_btn {
    position: relative;
    top: 0px;
    right: 0;
    border: 2px solid #06acde;
    height: 100%;
    color: #fff;
    padding: 10px 34px;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    border-radius: 5px;
    display: inherit;
    margin-bottom: 5px;
  }
  .smart_city_area .search_box .form-group a.search_btn {
    position: relative;
    bottom: 0px;
    right: 0;
    width: 100%;
    margin-top: 5px;
    display: inline-block;
    text-align: center;
  }
  .smart_city_area .hero_btn {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 0 15px;
  }
  .smart_city_area .hero_btn ul li {
    margin-right: 6px;
    width: 30%;
    margin-bottom: 10px;
  }
  .smart_city_area .hero_btn ul li a {
    padding: 15px 4px;
  }
  .smart_city_area .hero_btn ul li a i {
    font-size: 30px;
  }
  .smart_city_area .hero_btn ul li a span {
    font-size: 14px;
  }
  .smart_city_area .hero_btn {
    text-align: center;
  }
  .sm_find_area .firstbanner {
    padding-right: 15px;
  }
  .sm_find_area .secondbanner {
    padding-left: 15px;
  }
  .sm_find_area .offer_box {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
  }
  .sm_find_area .row {
    margin-bottom: 0 !important;
  }
  .choose-area .shape {
    display: none;
  }
  .sm_find_area {
    position: relative;
    overflow: hidden;
    background-color: #e7e7e7;
    z-index: 3;
    padding-bottom: 40px;
  }
  .choose-area .single-choose {
    margin-bottom: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .choose-area {
    padding-bottom: 30px;
  }
  .video-section .video-area {
    width: 100%;
    height: 300px;
    margin: auto auto 0px;
  }
  .video-section .video-shapes img.shape-1 {
    display: none;
  }
  .video-section .video-shapes img.shape-2 {
    display: none;
  }
  .video-section .video-shapes img.shape-3 {
    width: 30%;
  }
  .video-section .video-shapes img.shape-4 {
    display: none;
  }
  .video-section .video-area .right-title {
    top: 65%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .video-section .video-area .left-title {
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .section_titel h4 {
    font-size: 34px;
  }
  .service-section .service-img {
    width: 100%;
    margin-left: 0;
    margin-bottom: 40px;
  }
  .service-section .single-service {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
  }
  .service-section .single-service p {
    font-size: 16px;
    max-width: 250px;
    line-height: 28px;
    margin: auto;
  }
  section.newsletter-area .newsletter-text h3 {
    font-size: 36px;
    color: #ffffff;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
  }
  section.newsletter-area .newsletter-from button {
    position: relative;
    height: 45px;
    width: 100%;
    margin-top: 10px;
  }
  section.newsletter-area .newsletter-from input {
    width: 100%;
    height: 45px;
    border-radius: 30px;
    border: none;
    padding: 10px 15px;
  }
  section.newsletter-area .newsletter-from {
    position: relative;
    top: 0;
  }
  .sm_footer_area .fotter_ctn {
    margin-bottom: 40px;
  }
  .news-img img {
    width: 74%;
  }
  .sm_footer_area {
    padding-bottom: 40px;
  }
  .sm_footer_area .fotter_ctn .footer_news .single-news .news-img {
    float: left;
    margin-right: 0;
  }
  .sm_footer_area .fotter_ctn .footer_news .single-news .news-text .date {
    display: block;
  }
}

@media only screen and (max-width: 575px) {
  .menu-shrink {
    display: none;
  }
  .mean-container .mean-bar {
    background: transparent;
    float: left;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 8%;
    right: 2%;
  }
  .sm_header_area .logo {
    text-align: left;
  }
  header.sm_header_area {
    top: 0;
  }
  .top_bar_right {
    position: absolute;
    right: -48%;
    top: -58px;
  }
  .mean-container a.meanmenu-reveal {
    border: 1px solid #06acde;
    background: #06acde;
    color: #fff;
    position: absolute;
    right: 2% !important;
  }
  .mean-container a.meanmenu-reveal span {
    background: #fff none repeat scroll 0 0;
  }
  .mean-container .mean-nav {
    background: #06acde none repeat scroll 0 0;
    float: left;
    margin-top: 15px;
    width: 100%;
    margin-left: 6px;
  }
  header.sm_header_area .top_bar_right ul li .top_btn {
    font-size: 14px;
    padding: 8px 7px;
  }
  header.sm_header_area .top_bar_right ul li .log_btn i {
    font-size: 20px;
  }
  header.sm_header_area .top_bar_right ul li .log_btn {
    margin-right: 5px;
  }
  .smart_city_area {
    height: 700px;
  }
  .smart_city_area h1 {
    position: absolute;
    font-size: 30px;
    line-height: 1.5;
    text-transform: uppercase;
    top: 16%;
    left: 0;
    right: 0;
    margin: auto;
    color: #ffffff;
    z-index: 1;
    letter-spacing: 1.3px;
    text-align: center;
  }
  .smart_city_area .search_box {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    z-index: 1;
    padding: 30px;
  }
  .smart_city_area .search_box .form-group select {
    position: relative;
    right: 0;
    top: 0;
    border: 2px solid #06acde !important;
    height: 100%;
    color: #fff;
    background: transparent;
    padding: 10px 28px;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .smart_city_area .search_box .form-group a.loc_btn {
    position: relative;
    top: 0px;
    right: 0;
    border: 2px solid #06acde;
    height: 100%;
    color: #fff;
    padding: 10px 34px;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    border-radius: 5px;
    display: inherit;
    margin-bottom: 5px;
  }
  .smart_city_area .search_box .form-group a.search_btn {
    position: relative;
    bottom: 0px;
    right: 0;
    width: 100%;
    margin-top: 5px;
    display: inline-block;
    text-align: center;
  }
  .smart_city_area .hero_btn {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 0 15px;
  }
  .smart_city_area .hero_btn ul li {
    margin-right: 6px;
    width: 30%;
    margin-bottom: 10px;
  }
  .smart_city_area .hero_btn ul li a {
    padding: 15px 4px;
  }
  .smart_city_area .hero_btn ul li a i {
    font-size: 30px;
  }
  .smart_city_area .hero_btn ul li a span {
    font-size: 12px;
  }
  .smart_city_area .hero_btn {
    text-align: center;
  }
  .sm_find_area .firstbanner {
    padding-right: 15px;
  }
  .sm_find_area .secondbanner {
    padding-left: 15px;
  }
  .sm_find_area .offer_box {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
  }
  .sm_find_area .row {
    margin-bottom: 0 !important;
  }
  .choose-area .shape {
    display: none;
  }
  .sm_find_area {
    position: relative;
    overflow: hidden;
    background-color: #e7e7e7;
    z-index: 3;
    padding-bottom: 40px;
  }
  .choose-area .single-choose {
    margin-bottom: 50px;
  }
  .choose-area {
    padding-bottom: 30px;
  }
  .video-section .video-area {
    width: 100%;
    height: 300px;
    margin: auto auto 0px;
  }
  .video-section .video-shapes img.shape-1 {
    display: none;
  }
  .video-section .video-shapes img.shape-2 {
    display: none;
  }
  .video-section .video-shapes img.shape-3 {
    width: 30%;
  }
  .video-section .video-shapes img.shape-4 {
    display: none;
  }
  .video-section .video-area .right-title {
    top: 65%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .video-section .video-area .left-title {
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .section_titel h4 {
    font-size: 34px;
  }
  .service-section .service-img {
    width: 100%;
    margin-left: 0;
    margin-bottom: 40px;
  }
  .service-section .single-service {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
  }
  .service-section .single-service p {
    font-size: 16px;
    max-width: 250px;
    line-height: 28px;
    margin: auto;
  }
  section.newsletter-area .newsletter-text h3 {
    font-size: 36px;
    color: #ffffff;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
  }
  section.newsletter-area .newsletter-from button {
    position: relative;
    height: 45px;
    width: 100%;
    margin-top: 10px;
  }
  section.newsletter-area .newsletter-from input {
    width: 100%;
    height: 45px;
    border-radius: 30px;
    border: none;
    padding: 10px 15px;
  }
  section.newsletter-area .newsletter-from {
    position: relative;
    top: 0;
  }
  .sm_footer_area .fotter_ctn {
    margin-bottom: 40px;
  }
  .news-img img {
    width: 74%;
  }
  .sm_footer_area .fotter_ctn .footer_news .single-news .news-img {
    float: left;
    margin-right: 0;
  }
  .sm_footer_area .fotter_ctn .footer_news .single-news .news-text .date {
    display: block;
  }
}
/*# sourceMappingURL=responsive.css.map */